<p-messages class="absolute top-1 right-0"></p-messages>
<div class="flex flex-column justify-content-center align-items-center align-content-center surface-100 h-screen">
    <div
        class="flex flex-column align-items-center py-4 border-round-lg surface-0 w-11 md:w-3 xl:w-3 shadow-3 mb-6 gap-1 hover:shadow-6 flipleft animation-duration-500"
    >
        <h1 class="text-800font-semibold text-4xl m-0">Welcome back</h1>
        <span class="text-500 text-sm">Please log in or sign up</span>
        <img src="../../../assets/shared/icons/budget.png" alt="transaction" class="pt-2 w-4 h-4" />
        <form action="" [formGroup]="loginFormGroup" (ngSubmit)="logInUser()" class="w-full flex flex-column align-items-center">
            <div class="flex flex-column gap-2 mt-4 w-8">
                <div class="p-field">
                    <input type="text" pInputText formControlName="email" placeholder="E-mail" class="w-12" />
                    <div
                        *ngIf="loginFormGroup.get('email').hasError('required') && loginFormGroup.get('email').touched"
                        class="p-error"
                    >
                        Email is required.
                    </div>
                    <div
                        *ngIf="loginFormGroup.get('email').hasError('email') && loginFormGroup.get('email').touched"
                        class="p-error"
                    >
                        Invalid email format.
                    </div>
                </div>
                <div class="p-field">
                    <p-password
                        formControlName="password"
                        id="password1"
                        type="password"
                        class="w-full"
                        [feedback]="false"
                        placeholder="Password"
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        [inputStyle]="{ width: '100%' }"
                        [toggleMask]="true"
                        [style]="{ width: '100%' }"
                    ></p-password>
                    <div
                        *ngIf="loginFormGroup.get('password').hasError('required') && loginFormGroup.get('password').touched"
                        class="p-error"
                    >
                        Password is required.
                    </div>
                    <div
                        *ngIf="loginFormGroup.get('password').hasError('pattern') && loginFormGroup.get('password').touched"
                        class="p-error text-sm"
                    >
                        Password should be at least 8 characters long and should contain one number,one uppercase character and
                        one special character.
                    </div>
                </div>
            </div>
            <div class="flex flex-row justify-content-between mt-3 w-8">
                <p-button
                    label="Log in"
                    icon="pi pi-sign-in"
                    iconPos="right"
                    styleClass="p-button-success"
                    type="submit"
                    [disabled]="!loginFormGroup.valid"
                ></p-button>
                <p-button
                    label="Sign up"
                    icon="pi pi-user-plus"
                    iconPos="right"
                    styleClass="p-button-info"
                    type="button"
                    routerLink="/signup"
                ></p-button>
            </div>
        </form>
    </div>
</div>

