<p-messages class="absolute top-1 right-0"></p-messages>
<div class="flex flex-column justify-content-center align-items-center align-content-center surface-100 h-screen">
    <div
        class="flex flex-column align-items-center py-4 border-round-lg surface-0 w-11 md:w-3 xl:w-3 shadow-3 mb-6 gap-1 hover:shadow-6 flipright animation-duration-500"
    >
        <h1 class="text-800font-semibold text-4xl m-0">Create an account</h1>

        <img src="../../../assets/shared/icons/signup.png" alt="transaction" class="pt-2 w-2 h-2" />
        <form
            action=""
            class="w-full flex flex-column align-items-center"
            [formGroup]="signUpFormGroup"
            (ngSubmit)="signUpUser()"
        >
            <div class="flex flex-column gap-2 mt-4 w-8">
                <input type="text" pInputText formControlName="name" placeholder="Name" />
                <input type="text" pInputText formControlName="surname" placeholder="Surname" />
                <p-inputNumber
                    inputId="integeronly"
                    placeholder="Account amount"
                    [inputStyle]="{ width: '100%' }"
                    [style]="{ width: '100%' }"
                    formControlName="accamount"
                >
                </p-inputNumber>
                <input type="text" pInputText formControlName="text" placeholder="E-mail" formControlName="email" />

                <p-password
                    id="password1"
                    type="password"
                    class="w-full"
                    [feedback]="false"
                    placeholder="Password"
                    styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                    [inputStyle]="{ width: '100%' }"
                    [toggleMask]="true"
                    [style]="{ width: '100%' }"
                    formControlName="password"
                ></p-password>
            </div>
            <div class="flex flex-row justify-content-between mt-3 w-8">
                <p-button
                    label="Sign up"
                    icon="pi pi-plus"
                    iconPos="right"
                    styleClass="p-button-success"
                    type="submit"
                    [disabled]="!signUpFormGroup.valid"
                ></p-button>
                <p-button
                    label="Cancel"
                    icon="pi pi-times"
                    iconPos="right"
                    styleClass="p-button-danger"
                    type="button"
                    routerLink="/login"
                ></p-button>
            </div>
        </form>
    </div>
</div>

